venv/
htmlcov/
.pytest_cache/
YOTRACO/__pycache__
tests/__pycache__
yotraco.egg-info/
dist/yotraco-0.1.1-py3-none-any.whl
dist/yotraco-0.1.1.tar.gz
test.py
test.ipynb
test2.py
1.mp4
output.avi.avi
yolo11l.pt 
.vscode/settings.json
